.inner-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height: 90%;
    width: 60%;
    background-color: white;
}