.inner-mcq-container{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 500px;
    width: 60%;
    background-color: white;
}
.mcq{
    margin: 40px;
}
.mcq>label{
    margin-right: 20px;
}
.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    height: 30px;
}
.submit-btn>button{
    height: 100%;
    width: 120px;
    border-radius: 10px;
    background-color: skyblue;
}